.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
    min-height: 100vh;
}

.container-fluid img {
    width: 300px;
    border-radius: 50%;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section hr {
    display: block;
    margin: 0 auto;
    width: 50%; /* Atur sesuai kebutuhan */
}

.section {
    min-height: 100vh;
    background-color: #ddd;
}
